.recharge-page {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 8fr 2fr;
    grid-gap: 20px;
    max-height: 100vh;
    min-height: 100vh;
    padding: 50px 20px;
    @media (min-width: "768px") {
      padding: 50px calc((100vw - 600px) / 2);
    }
    background: rgb(245, 245, 245);
  }
  