.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  input {
    border-radius: 5px;
    height: 2.5rem;
    padding: 0.5rem;
    width: 20rem;
    outline: none;
    border: 1px solid #d7d7d7;

    &:focus {
        border-color: #da5c2a;
        }

        &:hover{
            border-color: #b3b3b3;
        }
  }
}
